<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/726034739550486618/908452059496448000/capucheB.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    <title>Olbor Track - Bot Discord Multifonction</title>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'companion/Scripts.js' %}" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'companion/jquery-ui-1.13.1/jquery-ui.css' %}">
    <script src="{% static 'companion/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'companion/jquery-ui-1.13.1/jquery-ui.min.js' %}"></script>
</head>

<header class="header-ot">

    <span class="user-avatar"><img  src="{% static 'companion/img/capucheB.png' %}">
    <h1>OT</h1></span>
    <div class="links">
        <a href="/">Accueil</a>
        <a>Fonctionnalités</a>
        <a href="/companion/">Companion</a>
        <a href="/privileges/">Privilège</a>
        <a href="https://discord.com/oauth2/authorize?client_id=699728606493933650&permissions=120259472576&scope=bot">Ajouter sur votre serveur</a>
    </div>
    
</header>

<div class="box-home" style="display: inline;">
    <div>
    <h1>Olbor Track, Bot Discord Multifonction</h1></div>
    <div>
    <h3>Profitez de fonctionnalités et d'outils pour améliorer votre serveur Discord, gratuitement.</h3></div>

</div>
<div class="box-home">
    <div style="width:50%">
        <h1 style="text-align: left;">
            <img class="img-home" src="{% static 'companion/img/stats.PNG' %}">
            Statistiques
        </h1>
        <p>
            Découvrez le nombre de messages envoyés, le temps passé en vocal, les salons et emotes les plus utilisées, pour vous et votre serveur entier.<br><br>Différents affichages sont disponibles pour les visualiser : classements, graphiques, comparateurs, analyses et résumés.
        </p>
    </div>

    <div class="slideshow-container">
        <div class="mySlides1">
          <img src="{% static 'companion/img/homeStatsRanks.PNG' %}">
        </div>
      
        <div class="mySlides1">
          <img src="{% static 'companion/img/homeStatsCompare.PNG' %}">
        </div>
      
        <div class="mySlides1">
          <img src="{% static 'companion/img/homeStatsGraph.PNG' %}" >
        </div>
        
        <div class="mySlides1">
            <img src="{% static 'companion/img/homeStatsEmote.PNG' %}" >
          </div>
      
        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
    </div>

</div>

</div>
<div class="box-home">
    <div style="width:50%">
        <h1 style="text-align: left;">
            <img class="img-home" src="{% static 'companion/img/outils.PNG' %}">
            Outils
        </h1>
        <p>
            Découvrez le nombre de messages envoyés, le temps passé en vocal, les salons et emotes les plus utilisées, pour vous et votre serveur entier.<br><br>Différents affichages sont disponibles pour les visualiser : classements, graphiques, comparateurs, analyses et résumés.
        </p>
    </div>
    <div class="slideshow-container">
        <div class="mySlides2">
          <img src="{% static 'companion/img/homeStatsRanks.PNG' %}">
        </div>
      
        <div class="mySlides2">
          <img src="{% static 'companion/img/homeStatsCompare.PNG' %}">
        </div>
      
        <div class="mySlides2">
          <img src="{% static 'companion/img/homeStatsGraph.PNG' %}" >
        </div>
        
        <div class="mySlides2">
            <img src="{% static 'companion/img/homeStatsEmote.PNG' %}" >
          </div>
      
        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>
    
    
</div>

<script>
    let slideIndex = [1,1];
    /* Class the members of each slideshow group with different CSS classes */
    let slideId = ["mySlides1", "mySlides2"]
    showSlides(1, 0);
    showSlides(1, 1);

    function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
    }

    function showSlides(n, no) {
    let i;
    let x = document.getElementsByClassName(slideId[no]);
    if (n > x.length) {slideIndex[no] = 1}
    if (n < 1) {slideIndex[no] = x.length}
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    x[slideIndex[no]-1].style.display = "block";
    } 
</script>

<div class="footer-ot">
    <span class="footer-links">
        <a href="/companion"><img class="image-small" src="{% static 'companion/img/capucheB.png' %}"></a>
    </span>
</div>