<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/726034739550486618/908452059496448000/capucheB.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    <title>Olbor Track - Bot Discord Multifonction</title>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'companion/Scripts.js' %}" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'companion/jquery-ui-1.13.1/jquery-ui.css' %}">
    <script src="{% static 'companion/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'companion/jquery-ui-1.13.1/jquery-ui.min.js' %}"></script>
</head>

<header class="header-ot">
    <span class="links"><img src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png?size=128">
        <h1>Olbor Track</h1>
        <div class="links">
            <a>Accueil</a>
            <a>Fonctionnalités</a>
            <a href="/companion/">Companion</a>
            <a href="https://discord.com/oauth2/authorize?client_id=699728606493933650&permissions=120259472576&scope=bot">Ajouter sur votre serveur</a>
        </div>
    </span>
</header>

<div class="box-home" style="display: inline;">
    <div>
    <h1>Olbor Track, Bot Discord Multifonction</h1></div>
    <div>
    <h3>Profitez de fonctionnalités et d'outils pour améliorer votre serveur Discord, gratuitement.</h3></div>

</div>
<div class="box-home">
    <div style="width:50%">
        <h1 style="text-align: left;">
            Statistiques
        </h1>
        <p>
            Découvrez le nombre de messages envoyés, le temps passé en vocal, les salons et emotes les plus utilisées, pour vous et votre serveur entier.<br><br>Différents affichages sont disponibles pour les visualiser : classements, graphiques, comparateurs, analyses et résumés.
        </p>
    </div>
    <div style="flex-flow: wrap;display: flex;width: 50%;">
        <img style="border-radius: 15px;margin: auto;" src="{% static 'companion/img/StatsMontage.PNG' %}">
    </div>
</div>