<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/699728606493933650/0859eb6e97dd8d92e6668c397bf4b311.webp?size=256">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    
    <title>Olbor Track Companion</title>
</head>

{% load TagsCustom %}

<body class="bodyiframe">
    <table class="table-iframe">
        {% if option == "messages" or option == "mots" or option == "voice" or option == "emotes" or option == "reactions" %}
            <tr><th colspan="5">Archive {{ mois }} {{ annee }} au {{ jour }} {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th colspan="2">Membre</th>
                <th id="leg-barre">Barre</th>
                <th>Messages</th>
            </tr>
            {% else %}
            <tr><th colspan="4">Archive {{ mois }} {{ annee }} au {{ jour }} {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th>Emote</th>
                <th id="leg-barre">Barre</th>
                <th>Utilisations</th>
            </tr>
        {% endif %}

        {% for i in moisTab %}
            {% if i.ID == id %}
                <tr style="background-color: #696969; border-color: #696969;">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ i.Rank }}</td>
                {% if option == "messages" or option == "mots" or option == "voice" %}
                    <td>
                        {% if i.Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ i.ID }}/{{ i.Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    </td>
                {% elif option == "emotes" or option == "reactions" %}
                    <td>
                        {% if i.Animated %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    </td>
                {% endif %}
                <td style="text-align: start;">{{ i.Nom }}</td>
                <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ moisTabMaxi }}); background-color: {{ i.Color }}"></div></td>
                <td>{{ i.Count|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <table class="table-iframe">
        {% if option == "messages" or option == "mots" or option == "voice" or option == "emotes" or option == "reactions" %}
            <tr><th colspan="5">Archive {{ annee }} au {{ jour }} {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th colspan="2">Membre</th>
                <th id="leg-barre">Barre</th>
                <th>Messages</th>
            </tr>
            {% else %}
            <tr><th colspan="4">Archive {{ annee }} au {{ jour }} {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th>Emote</th>
                <th id="leg-barre">Barre</th>
                <th>Utilisations</th>
            </tr>
        {% endif %}

        {% for i in anneeTab %}
            {% if i.ID == id %}
                <tr style="background-color: #696969; border-color: #696969;">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ i.Rank }}</td>
                {% if option == "messages" or option == "mots" or option == "voice" %}
                    <td>
                        {% if i.Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ i.ID }}/{{ i.Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    </td>
                {% elif option == "emotes" or option == "reactions" %}
                    <td>
                        {% if i.Animated %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    </td>
                {% endif %}
                <td style="text-align: start;">{{ i.Nom }}</td>
                <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ anneeTabMaxi }}); background-color: {{ i.Color }}"></div></td>
                <td>{{ i.Count|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>

    <table class="table-iframe">
        {% if option == "messages" or option == "mots" or option == "voice" or option == "emotes" or option == "reactions" %}
            <tr><th colspan="5">Archive global au {{ jour }} {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th colspan="2">Membre</th>
                <th id="leg-barre">Barre</th>
                <th>Messages</th>
            </tr>
            {% else %}
            <tr><th colspan="4">Archive global au {{ jour }} {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th>Emote</th>
                <th id="leg-barre">Barre</th>
                <th>Utilisations</th>
            </tr>
        {% endif %}

        {% for i in globTab %}
            {% if i.ID == id %}
                <tr style="background-color: #696969; border-color: #696969;">
            {% else %}
                <tr>
            {% endif %}
                <td>{{ i.Rank }}</td>
                {% if option == "messages" or option == "mots" or option == "voice" %}
                    <td>
                        {% if i.Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ i.ID }}/{{ i.Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    </td>
                {% elif option == "emotes" or option == "reactions" %}
                    <td>
                        {% if i.Animated %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    </td>
                {% endif %}
                <td style="text-align: start;">{{ i.Nom }}</td>
                <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ globTabMaxi }}); background-color: {{ i.Color }}"></div></td>
                <td>{{ i.Count|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>
</body>

</html>