{% extends "companion/BASE.html" %}

{% block script %}
<script type="text/javascript">
    
    function newSite(jour,mois,annee,obj) {
        var site = "/companion/{{ guildid }}/{{ option }}/iframeevol?data="+jour+"?"+mois+"?"+annee+"?{{ obj }}"
        document.getElementById('iframeevol').src = site
        try {document.getElementById("elselect").id = NaN}
        catch {}
        obj.id = "elselect"
        
    }    

    function toggle(tog){
        var lignes = document.getElementsByClassName("evol")
        var i
        if (tog.checked == true) {
            for (i = 0; i < lignes.length; i++) {
                console.log(lignes[i].style.display)
                if (lignes[i].dataset.collapse == "True") {
                    lignes[i].style.display = "none"
                }
            } 
        } else {
            for (i = 0; i < lignes.length; i++) {
                lignes[i].style.display = "table-row"
            }
        }
    }

</script>
{% endblock script %}

{% block stats %}
{% load TagsCustom %}
<div class="navbar" style="width: 400px;">
    <input type="text" id="searchTable" onkeyup="searchName(1)" placeholder="Recherchez une date">
    <input id="input-collapse" type="checkbox" onclick="toggle(this)" name="ytes"> <label for="input-collapse">Affiner</label>
</div>
<div class="grid-stats" id="main-grid">
    <table class="grid-stats-1" id="tableot">
        <tr><th colspan="5">Statistiques évolution {{ mois }} {{ annee }}, {{ nom }}</th></tr>
        <tr>
            <th colspan="2">Rang</th>
            <th>Date</th>
            <th id="leg-barre">Barre</th>
            <th>{{ option|headcount }}</th>
        </tr>
        {% for i in rank %}
            {% if guildid == "ot/jeux" %}
                <tr class="evol" data-collapse={{ i.Collapse }}>
            {% else %}
                <tr class="evol" data-collapse={{ i.Collapse }} onClick="newSite('{{ i.Jour }}','{{ i.Mois }}','{{ i.Annee }}',this)">
            {% endif %}
                {% if i.Evol > 0 %}
                    <td style="background-color: green;">{{ i.Rank }}</td>
                    <td><img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687366647818/rougeTdry.png"><br>{{ i.Evol }}</td>
                {% elif i.Evol < 0 %}
                    <td style="background-color: red;">{{ i.Rank }}</td>
                    <td> {{ i.Evol }}<br><img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687551201321/rougeTdqsdry.png"></td>
                {% else %}
                    <td colspan="2">{{ i.Rank }}</td>
                {% endif %}
                <td class="date">{{ i.Jour }} / {{ i.Mois }} / {{ i.Annee }}</td>
                <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }}); background-color: {{ color }}"></div></td>
                <td>{{ i.Count|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="grid-stats-2" id="grid-indics">
        <div style="text-align: justify;margin: 0; "class="guild-stats">Indicateurs</div>
    </div>
    <div class="grid-stats-2" id="grid-indics-period">
        <div style="text-align: justify;margin: 0; "class="guild-stats">Indicateurs sur la période sélectionnée</div>
    </div>
    <div class="grid-stats-2">
        <div style="text-align: justify;margin: 0; "class="guild-stats">Tendances</div>
    </div>
    <div class="grid-stats-2" id="grid-graph">
        <div style="text-align: justify;margin: 0; "class="guild-stats">Graphique</div>
        
    </div>
</div>
{% endblock stats %}