{% extends "companion/BASE.html" %}
{% block script %}
<script type="text/javascript">
    
    function newSite(obj) {
        var mois = document.getElementById("mois"+obj)
        var annee = document.getElementById("annee"+obj)
        var site = "/companion/{{ guildid }}/iframerank?data="+mois.value+"?"+annee.value
        document.getElementById("iframe"+obj).src = site;
    }    


</script>
{% endblock script %}


{% block stats %}
<div class="stats-compare">
    <div class="div-compare">
        <div class="navbar">
            <select name="mois1" id="mois1">
                {% for i in listeMois %}
                    {% if i == mois %}
                        <option selected>{{ i }}</option>
                    {% else %}
                        <option>{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="annee1" id="annee1">
                {% for i in listeAnnee %}
                    {% if i == annee %}
                        <option selected>{{ i }}</option>
                    {% else %}
                        <option>{{ i }}</option>
                    {% endif %}
                    {% endfor %}
            </select>
            <input type="submit" value="Comparer" onclick="newSite('1')">
        </div>
        <iframe class="iframe-compare" id="iframe1" src="/companion/iframeblankcompare" scrolling="no" onload="resizeIframe(this)"></iframe>
    </div>
    <div class="div-compare">
        <div class="navbar">
            <select name="mois" id="mois2">
                {% for i in listeMois %}
                    {% if i == mois %}
                        <option selected>{{ i }}</option>
                    {% else %}
                        <option>{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="annee" id="annee2">
                {% for i in listeAnnee %}
                    {% if i == annee %}
                        <option selected>{{ i }}</option>
                    {% else %}
                        <option>{{ i }}</option>
                    {% endif %}
                    {% endfor %}
            </select>
            <input type="submit" value="Comparer" onclick="newSite('2')">
        </div>
        <iframe class="iframe-compare" id="iframe2" src="/companion/iframeblankcompare" scrolling="no" onload="resizeIframe(this)"></iframe>
    </div>
    <div class="div-compare">
        <div class="navbar">
            <select name="mois" id="mois3">
                {% for i in listeMois %}
                    {% if i == mois %}
                        <option selected>{{ i }}</option>
                    {% else %}
                        <option>{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="annee" id="annee3">
                {% for i in listeAnnee %}
                    {% if i == annee %}
                        <option selected>{{ i }}</option>
                    {% else %}
                        <option>{{ i }}</option>
                    {% endif %}
                    {% endfor %}
            </select>
            <input type="submit" value="Comparer"  onclick="newSite('3')">
        </div>
        <iframe class="iframe-compare" id="iframe3" src="/companion/iframeblankcompare" scrolling="no" onload="resizeIframe(this)"></iframe>
    </div>
</div>
{% endblock stats %}