{% extends "companion/BASE.html" %}
{% block stats %}
{% load TagsCustom %}
{% load static %}

<script>
    function confirm(button) {
        val=button.value
        button.value="Supprimer vraiment"
        sleep(100).then(() => {button.type="submit"})
        sleep(10000).then(() => {
            button.type="button"
            button.value=val})
    }

    function simulate(idimg) {
        var httpRequest = new XMLHttpRequest()
        var image = document.getElementById(`img-${idimg}`)
        var mess = document.getElementById(`messimg-${idimg}`).value
        var color = document.getElementById(`color-${idimg}`).value
        var taille = document.getElementById(`taille-${idimg}`).value

        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState === 4) {
                var data = JSON.parse(httpRequest.response)
                image.src=data["img"]
            }    
        }
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/simulate/${idimg}?mess=${mess}&taille=${taille}&color=${color.slice(1)}`,true)
        httpRequest.send()
    }

    function toogleAnniv(tog) {
        var httpRequest = new XMLHttpRequest()
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState === 4) {
                window.location.replace("/companion/{{ guildid }}/annivauto");
            }    
        }
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/toggleanniv?active=${tog.checked == true}`,true)
        httpRequest.send()
    }

    function toogleImg(tog,idimg) {
        var httpRequest = new XMLHttpRequest()
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/toggleimg/${idimg}?active=${tog.checked == true}`,true)
        httpRequest.send()
    }

    function toogleMessage(tog,idmessage) {
        var httpRequest = new XMLHttpRequest()
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/togglemessage/${idmessage}?active=${tog.checked == true}`,true)
        httpRequest.send()
    }

    function editMessage(tog,idmessage) {
        var httpRequest = new XMLHttpRequest()
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/editmessage/${idmessage}?message=${tog.value}`,true)
        httpRequest.send()
    }

    function editImg(idimg) {
        var image = document.getElementById(`img-${idimg}`)
        var mess = document.getElementById(`messimg-${idimg}`).value
        var color = document.getElementById(`color-${idimg}`).value
        var taille = document.getElementById(`taille-${idimg}`).value
        var httpRequest = new XMLHttpRequest()
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/editimg/${idimg}?mess=${mess}&taille=${taille}&color=${color.slice(1)}`,true)
        httpRequest.send()
    }

    function delMessage(element,idmessage) {
        var httpRequest = new XMLHttpRequest()
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState === 4) {
                $(element).parent().parent().parent().parent().remove()
            }
        }
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/delmessage/${idmessage}`,true)
        httpRequest.send()
    }

    function delImg(element,idimg) {
        var httpRequest = new XMLHttpRequest()
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState === 4) {
                $(element).parent().parent().parent().parent().remove()
            }
        }
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/delimg/${idimg}`,true)
        httpRequest.send()
    }

    function addMessage() {
        var httpRequest = new XMLHttpRequest()
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState === 4) {
                data=JSON.parse(httpRequest.response)
                $("#table-add").before(`
                <table style="margin-top: 30px;">
                    <tr>
                        <th>Message ${data["count"]}</th>
                        <th><label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label></th>
                    </tr>
                    <tr>
                        <td colspan="2"><input id="mess-new" style="width: -moz-available;" type="text" name="source" value="Joyeux anniversaire {user} !" onfocusout="editMessage(this,'${data["count"]}')"></td>
                    </tr>
                    <tr><td colspan="2"><input onclick='delMessage(this,${data["count"]})' type="button" value="Supprimer" class="input-click"></td></tr>
                </table>`)
            }    
        }
        httpRequest.open("GET",`/companion/{{ guildid }}/annivauto/addmessage`,true)
        httpRequest.send()
    }

    function test(obj) {
        console.log(obj)
    }

</script>
<link rel="stylesheet" media="screen" type="text/css" href="{% static 'companion/colorpicker/src/coloris.css' %}" />
<script type="text/javascript" src="{% static 'companion/colorpicker/src/coloris.js' %}"></script>

{% if etatAnniv.Active %}
<div class="grid-onecol" style="margin-top: 40px;">
    <table >
        <tr>
            <th>Fêter les anniversaires des membres</th>
            <th>
                <label class="switch">
                    <input onchange='toogleAnniv(this)' type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </th>
        </tr>
        <tr><td colspan="2">Fêtez les anniversaires de vos membres, avec un message personnalisé envoyé dans le salon de votre choix à chaque fois qu'un anniversaire est fêté !</td></tr>
    </table>
</div>
<div class="grid-twocol" style="margin-top: 30px;">
        <table>
            <tr><th>Choisir le salon d'envoi</th></tr>
            <tr>
                <td>
                    <form method="post" action="/companion/{{ guildid }}/annivauto/chanAnniv" enctype="multipart/form-data"> {% csrf_token %}
                        <select name="salon" id="salon">
                            {% for i in allchans %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </td>
            </tr>
            <tr><td><input type="submit" value="Sauvegarder" class="input-click"></td></tr>
        </table>

        <table>
            <tr><th colspan="2">Balises de texte</th></tr>
            <tr><td>{user}</td><td>Mentionne le membre</td></tr>
            <tr><td>{name}</td><td>Donne le nom du membre</td></tr>
            <tr><td>{guild}</td><td>Donne le nom du serveur</td></tr>
            <tr><td>{date}</td><td>Donne le jour de son anniversaire</td></tr>
        </table>
</div>
{% else %}
<div class="grid-onecol" style="margin-top: 30px;">
    <table>
        <tr>
            <th>Fêter les anniversaires des membres</th>
            <th>
                <label class="switch">
                    <input onchange='toogleAnniv(this)' type="checkbox">
                    <span class="slider round"></span>
                </label>
            </th>
        </tr>
        <tr><td colspan="2">Fêtez les anniversaires de vos membres, avec un message personnalisé envoyé dans le salon de votre choix à chaque fois qu'un anniversaire est fêté !</td></tr>
    </table>
</div>
{% endif %}

{% if etatAnniv.Active %}
    <div class="grid-twocol" style="margin-top: 30px;">
        <div>
            <div style="text-align: justify;margin: 0; "class="guild-stats">Messages d'anniversaire</div>
            {% for i in messages %}
                <table style="margin-top: 30px;">
                    <tr>
                        <th>Message {{ i.Nombre }}</th>
                        <th>
                            <label class="switch">
                                {% if i.Active %}
                                    <input onchange='toogleMessage(this,"{{ i.Nombre }}")' type="checkbox" checked>
                                {% else %}
                                    <input onchange='toogleMessage(this,"{{ i.Nombre }}")' type="checkbox">
                                {% endif %}
                                <span class="slider round"></span>
                            </label>
                        </th>
                    </tr>
                    <tr><td colspan="2"><input id="mess-{{ i.Nombre }}" style="width: -moz-available;" type="text" name="source" value="{{ i.Message }}" onfocusout="editMessage(this,'{{ i.Nombre }}')"></td></tr>
                    <tr><td colspan="2"><input onclick='delMessage(this,"{{ i.Nombre }}")' type="button" value="Supprimer" class="input-click"></td></tr>
                </table>
            {% endfor %}
            <table id="table-add" style="margin-top: 30px;">
                <tr><th>Nouvelle phrase</th></tr>
                <tr id="ranksplus"><td onclick="addMessage()"><img src="{% static 'companion/img/Plus.png' %}"></td></tr>
            </table>
        </div>
        <div>
            <div style="text-align: justify;margin: 0; "class="guild-stats">Images d'anniversaire</div>
            {% for i in images %}
                <table style="margin-top: 30px;">
                    <tr>
                        <th>Image {{ i.Nombre }}</th>
                        <th>
                            <label class="switch">
                                {% if i.Active %}
                                    <input onchange='toogleImg(this,"{{ i.Nombre }}")' type="checkbox" checked>
                                {% else %}
                                    <input onchange='toogleImg(this,"{{ i.Nombre }}")' type="checkbox">
                                {% endif %}
                                <span class="slider round"></span>
                            </label>
                        </th>
                    </tr>
                    <tr><td colspan="2"><img id="img-{{ i.Nombre }}" class="image-sv" src="{{ i.Path }}"></td></tr>
                    <tr><td>Texte</td><td><input id="messimg-{{ i.Nombre }}" style="width: -moz-available;" type="text" name="source" value="{{ i.Message }}"></td></tr>
                    <tr><td>Couleur</td><td><input id="color-{{ i.Nombre }}" type="text" value="{{ i.Couleur }}" class="coloris" name="color">
                        <script>
                            Coloris({
                            el: '.coloris',
                            theme: 'large',
                            themeMode: 'dark',
                            format: 'hex',
                            alpha:false,
                            swatches: ['#264653','#2a9d8f','#e9c46a','#f4a261','#e76f51','#d62828','#023e8a','#0077b6','#0096c7','#00b4d8','#48cae4']
                            });
                        </script>
                    </td></tr>
                    <tr><td>Taille de la police</td><td><input id="taille-{{ i.Nombre }}" name="signatures" type="number" style="width:-moz-available;text-align:left" min="20" max="150" value="{{ i.Taille }}"></td></tr>
                    <tr>
                        <td colspan="2"><input onclick='simulate("{{ i.Nombre }}")' type="button" value="Simuler" class="input-click">
                        <input onclick='editImg("{{ i.Nombre }}")' type="button" value="Enregistrer" class="input-click">
                        <input onclick='delImg(this,"{{ i.Nombre }}")' type="button" value="Supprimer" class="input-click"></td>
                    </tr>
                </table>
            {% endfor %}
            <form method="post" action="/companion/{{ guildid }}/annivauto/addimg" enctype="multipart/form-data"> {% csrf_token %}
                <table style="margin-top: 30px;">
                    <tr><th colspan="2">Nouvelle image</th></tr>
                    <tr><td>Image</td><td><input type="file" name="image" accept="image/*" required></td></tr>
                    <tr><td>Message</td><td><input style="width: -moz-available;" type="text" name="message" required></td></tr>
                    <tr><th colspan="2"><input type="submit" value="Envoyer" class="input-click"></th></tr>
                </table>
            </form>
        </div>
    </div>

{% endif %}


{% endblock stats %}