<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/699728606493933650/0859eb6e97dd8d92e6668c397bf4b311.webp?size=256">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    
    <title>Olbor Track Companion</title>
</head>

{% load TagsCustom %}

<body class="bodyiframe">
    <table class="table-iframe">
        <tr><th colspan="5">Statistiques évolution {{ mois }} {{ annee }}, {{ nom }}</th></tr>
        <tr>
            <th colspan="2">Rang</th>
            <th>Date</th>
            <th id="leg-barre">Barre</th>
            <th>Messages</th>
        </tr>
        {% for i in rank %}
            <tr class="rank">
                {% if i.Evol > 0 %}
                    <td style="background-color: green;">{{ i.Rank }}</td>
                    <td><img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687366647818/rougeTdry.png"> {{ i.Evol }}</td>
                {% elif i.Evol < 0 %}
                    <td style="background-color: red;">{{ i.Rank }}</td>
                    <td> {{ i.Evol }}<img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687551201321/rougeTdqsdry.png"></td>
                {% else %}
                    <td colspan="2">{{ i.Rank }}</td>
                {% endif %}
                <td class="date">{{ i.Jour }} / {{ i.Mois }} / {{ i.Annee }}</td>
                <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }}); background-color: {{ color }}"></div></td>
                <td>{{ i.Count|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>
</body>

</html>