<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/699728606493933650/0859eb6e97dd8d92e6668c397bf4b311.webp?size=256">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    
    <title>Olbor Track Companion</title>
</head>

<script type="text/javascript">
    
    function hoverID(id) {
        document.getElementById(id).style.background_color = "#696969";
    }    

    function leaveHover(id) {
        document.getElementById(id).style.background_color = "#23254a";
    }

</script>

{% load TagsCustom %}

<body class="bodyiframe">
    <table class="table-iframe">
        <tr><th colspan="5">Classement {{ role }} {{ jour }} {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th colspan="2">Membre</th>
                <th id="leg-barre">Barre</th>
                <th>Messages</th>
            </tr>
            {% for i in rank %}
                {% if i.ID == id %}
                    <tr style="background-color: #696969; border-color: #696969;" id="{{ i.ID }}" onmouseover="hoverID('{{ i.ID }}')" onmouseleave="leaveHover('{{ i.ID }}')">
                {% else %}
                    <tr id="{{ i.ID }}" onmouseover="hoverID('{{ i.ID }}')" onmouseleave="leaveHover('{{ i.ID }}')">
                {% endif %}
                    <td>{{ i.Rank }}</td>
                    <td>
                        {% if i.Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ i.ID }}/{{ i.Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    </td>
                    <td style="text-align: start;">{{ i.Nom }}</td>
                    <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }}); background-color: {{ i.Color }}"></div></td>
                    <td>{{ i.Count|tempsvoice:option }}</td>
                </tr>
            {% endfor %}
    </table>
</body>

</html>