{% extends "companion/BASE.html" %}
{% block script %}
<script type="text/javascript">
    
    function newSite(id,mois,annee,obj) {
        var site = "/companion/{{ guildid }}/{{ option }}/iframeserv?data="+mois+"?"+annee+"?"+id
        document.getElementById('iframeevol').src = site;
        try {document.getElementById("elselect").id = NaN}
        catch {}
        obj.id = "elselect"
    }    

</script>
{% endblock script %}



{% block stats %}
{% load TagsCustom %}

<div class="searchTable">
    {% if option == "messages" or option == "mots" or option == "voice" or option == "emotes" or option == "reactions" %}
        <input type="text" id="searchTable" onkeyup="searchName(3)" placeholder="Recherchez une emote">
    {% else %}
        <input type="text" id="searchTable" onkeyup="searchName(2)" placeholder="Recherchez une emote">
    {% endif %}
</div>

<div class="stats">
    <table id="tableot">
        {% if option == "messages" or option == "mots" or option == "voice" or option == "emotes" or option == "reactions" or obj != None %}
            <tr><th colspan="6">Panthéon - Le classement des classements</th></tr>
            <tr>
                <th>Rang (base)</th>
                <th>Date</th>
                <th colspan="2">Membre</th>
                <th id="leg-barre">Barre</th>
                <th>Messages</th>
            </tr>
        {% elif option == "tortues" or option == "tortuesduo" or option == "p4" or option == "matrice" or option == "morpion" or option == "trivialversus" or option == "trivialbr" or option == "trivialparty" %}
            <tr><th colspan="7">Panthéon - Le classement des classements</th></tr>
            <tr>
                <th>Rang (base)</th>
                <th>Date</th>
                <th colspan="2">Joueur</th>
                <th id="leg-barre">Barre</th>
                <th>Points</th>
                <th>W/L</th>
                <th>Badge</th>
            </tr>
        {% else %}
            <tr><th colspan="5">Panthéon - Le classement des classements</th></tr>
            <tr>
                <th>Rang (base)</th>
                <th>Date</th>
                <th>Emote</th>
                <th id="leg-barre">Barre</th>
                <th>Utilisations</th>
            </tr>
        {% endif %}

        {% for i in rank %}
            {% if i.ID == id %}
                <tr class="user" onClick="newSite('{{ i.ID }}','{{ i.Mois }}','{{ i.Annee }}',this)">
            {% else %}
                <tr onClick="newSite('{{ i.ID }}','{{ i.Mois }}','{{ i.Annee }}',this)">
            {% endif %}
                    <td>{{ i.Rank }} ({{ i.RankOri }})</td>
                    <td>{{ i.Mois }}/{{ i.Annee }}</td>
                    {% if option == "messages" or option == "mots" or option == "voice" or obj != None %}
                        <td>
                            {% if i.Avatar %}
                                <a href="/companion/profil/{{ i.ID }}">
                                <img src="https://cdn.discordapp.com/avatars/{{ i.ID }}/{{ i.Avatar }}.png?size=128"></a>
                            {% else %}
                                <a href="/companion/profil/{{ i.ID }}">
                                <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png"></a>
                            {% endif %}
                        </td>
                    {% elif option == "emotes" or option == "reactions" %}
                        {% if i.Nom == "twemoji" %}
                        <td onclick="getTwemoji('{{ i.ID }}',this)">
                        {% else %}
                        <td>
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}?size=128" style="border-radius: 0%;">
                        {% endif %}
                        </td>
                    {% elif option == "tortues" or option == "tortuesduo" or option == "p4" or option == "matrice" or option == "morpion" or option == "trivialversus" or option == "trivialbr" or option == "trivialparty" %}
                        <td>
                            {% if i.Emote != None %}
                                <a href="/companion/profil/{{ i.ID }}">
                                <img src="https://cdn.discordapp.com/emojis/{{ i.Emote }}"></a>
                            {% else %}
                                <a href="/companion/profil/{{ i.ID }}">
                                <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png"></a>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td style="text-align: start;">{{ i.Nom }}</td>
                    <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }}); background-color: {{ i.Color }}"></div></td>
                    <td>{{ i.Count|tempsvoice:option }}</td>
                    {% if option == "tortues" or option == "tortuesduo" or option == "p4" or option == "matrice" or option == "morpion" or option == "trivialversus" or option == "trivialbr" or option == "trivialparty" %}
                        <td>{{ i.Win }}/{{ i.Lose }}</td>
                        <td>
                            {% if i.BadgeJeu != None %}
                                <img src='{{ i.BadgeJeu|badgeurl }}' class='badge'>
                            {% endif %}
                            
                        </td>
                    {% endif %}
                </tr>
        {% endfor %}
    </table>
    <iframe id="iframeevol" src="/companion/iframeblank" scrolling="no" onload="resizeIframe(this)"></iframe>
</div>
{% endblock stats %}