{% extends "companion/BASE.html" %}
{% block script %}
<script type="text/javascript">
    
    function newSite(id,obj) {
        var site = "/companion/{{ guildid }}/{{ option }}/iframeranksobj?data={{ mois }}?{{ annee }}?"+id
        document.getElementById('iframeevol').src = site;
        try {document.getElementById("elselect").id = NaN}
        catch {}
        obj.id = "elselect"
    }    

</script>
{% endblock script %}



{% block stats %}
<div class="searchTable">
    <input type="text" id="searchTable" onkeyup="searchName(1)" placeholder="Recherchez une emote">
</div>

<div class="stats">
    <table id="tableot">
        <tr><th colspan="6">Classement {{ mois }} {{ annee }}</th></tr>
        <tr>
            <th>Rang</th>
            <th>Emote</th>
            <th id="leg-barre">Barre</th>
            <th>Utilisations</th>
        </tr>
        {% for i in rank %}
        <tr onClick="newSite('{{ i.ID }}',this)">
            <td>{{ i.Rank }}</td>
            <td style="text-align: start;">{{ i.Nom }}</td>
            <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }})"></div></td>
            <td>{{ i.Count }}</td>
        </tr>
        {% endfor %}
    </table>
    <iframe id="iframeevol" src="/companion/iframeblank" scrolling="no" onload="resizeIframe(this)"></iframe>
</div>
{% endblock stats %}