{% extends "companion/BASE.html" %}
{% block stats %}
{% load TagsCustom %}
{% load static %}

<script>
    function confirm(button) {
        val=button.value
        button.value="Supprimer vraiment"
        sleep(100).then(() => {button.type="submit"})
        sleep(10000).then(() => {
            button.type="button"
            button.value=val})
    }

    function edit(idsv) {
        var table=document.getElementById(idsv)
        var phrase=table.dataset.phrase
        var source=table.dataset.source

        $(`#${idsv}`).empty()
        $(`#${idsv}`).append(`
                <tr><th colspan="2">Phrase n°${idsv}</th></tr>
                <tr><td>Votre phrase à modifier</td><td><textarea required name="sv" type="text" style="width:-moz-available;text-align:left" placeholder="Que devrions nous savoir ??" maxlength="2000" rows="3">${phrase}</textarea></td></tr>
                <tr><td>Source (optionnelle)</td><td><input style="width: -moz-available;" type="text" name="source" value="${source}"></td></tr>
                <tr><th><input type="submit" value="Modifier" name="edit" class="input-click"></th><th><input onclick="cancelEdit(${idsv})" type="button" value="Annuler" class="input-click"></th></tr>
        `)
    }

    function cancelEdit(idsv) {
        var table=document.getElementById(idsv)
        var phrase=table.dataset.phrase
        var source=table.dataset.source
        var image=table.dataset.image

        $(`#${idsv}`).empty()
        $(`#${idsv}`).append(`
            <tr><th colspan="3">Phrase n°${idsv}</th></tr>
            <tr><td colspan="3" style="font-size:20px;padding: 10px;">${phrase}</td></tr>`)

        if (image != "None") {
            $(`#${idsv}`).append(`<tr><td colspan="3"><img class="image-sv" src="${image}"></td></tr>`)
        }

        if (source == "None") {
            $(`#${idsv}`).append(`<tr><td>Source</td><td colspan="2">Non spécifiée</td></tr>`)
        } else {
            $(`#${idsv}`).append(`<tr><td>Source</td><td colspan="2">${source}</td></tr>`)
        }

        $(`#${idsv}`).append(`
            <tr>
                <td><input onclick="confirm(this)" type="button" value="Supprimer" name="del" class="input-click"></td>
                <td><input onclick='edit("${idsv}")' type="button" value="Editer" class="input-click"></td>
                <td><input type="button" value="Mettre à jour" class="input-click"></td>
            </tr>
        `)
    }
</script>

<div class="guild-stats">Vos phrases</div>
<div class="grid-threecol" style="margin-top: 30px;">
    {% for i in perso %}
        <form method="post" action="/companion/{{ guildid }}/sv/edit/{{ i.Count }}"> {% csrf_token %}
            <table id="{{ i.Count }}" data-phrase="{{ i.Texte }}" data-source="{{ i.Source }}" data-image="{{ i.Image }}" style="margin-top: 30px;border-color: {{ auteur.Color }};">
                <tr><th colspan="3">Phrase n°{{ i.Count }}</th></tr>
                <tr><td colspan="3" style="font-size:20px;padding: 10px;">{{ i.Texte }}</td></tr>
                {% if i.Image != "None" %} 
                    <tr><td colspan="3"><img class="image-sv" src="{{ i.Image }}"></td></tr>
                {% endif %}
                <tr>
                    <td>Source</td>
                    {% if i.Source == "None" %}
                        <td colspan="2">Non spécifiée</td>
                    {% else %}
                        <td colspan="2">{{ i.Source }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td><input onclick="confirm(this)" type="button" value="Supprimer" name="del" class="input-click"></td>
                    <td><input onclick='edit("{{ i.Count }}")' type="button" value="Editer" class="input-click"></td>
                    <td><input type="button" value="Mettre à jour" class="input-click"></td>
                </tr>
            </table>
        </form>
    {% endfor %}
</div>

{% endblock stats %}