{% extends "companion/BASE.html" %}
{% block stats %}
{% load TagsCustom %}

<div class="all-guilds">
    <a href="https://discord.com/oauth2/authorize?client_id=699728606493933650&permissions=120259472576&scope=bot">
        <div class="card-guild">
            <span class="icon-guild">
                <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/977158439673397268/Plus.png">
            </span>
            <span class="guild-name">Ajoutez un serveur</span>
        </div>
    </a>
    <a href="https://patreon.com/OlborTrack">
        <div class="card-guild">
            <span class="icon-guild">
                <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/978232310895886398/Dollar.png">
            </span>
            <span class="guild-name">Contribuer sur Patreon</span>
        </div>
    </a>
    <a href="https://paypal.me/OlborTrack">
        <div class="card-guild">
            <span class="icon-guild">
                <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/978232310895886398/Dollar.png">
            </span>
            <span class="guild-name">Faire une donation PayPal</span>
        </div>
    </a>
    <a href="https://www.instagram.com/p/CSGtqCJAY6G">
        <div class="card-guild">
            <span class="icon-guild">
                <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/935575617326424095/zerdsfsf.png">
            </span>
            <span class="guild-name">Me suivre sur Instagram</span>
        </div>
    </a>
    <a href="https://twitter.com/OlborEgamorf/status/1422473397573935104">
        <div class="card-guild">
            <span class="icon-guild">
                <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/935575596027768943/580b57fcd9996e24bc43c53e.png">
            </span>
            <span class="guild-name">Me suivre sur Twitter</span>
        </div>
    </a>
    <a href="https://discord.com/oauth2/authorize?client_id=699728606493933650&permissions=120259472576&scope=bot">
        <div class="card-guild">
            <span class="icon-guild">
                <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/935575617653583922/25231.png">
            </span>
            <span class="guild-name">Contribuer sur GitHub</span>
        </div>
    </a>
</div>

{% endblock stats %}