{% extends "companion/BASE.html" %}
{% block script %}
<script>
    var collec = "{{ collec }}"
    function filterTitres(obj) {
        divTables=document.getElementById("all-titres")
        tables=divTables.children
        raretes=document.getElementById("raretes")

        var liste = {}
        for (i=0 ; i<raretes.children.length ; i++) {
            if (raretes.children[i].localName == "input" && raretes.children[i].checked == true) {
                liste[raretes.children[i].id]=true
            }
        }
        if (obj.checked == true) {
            for (i=0 ; i<tables.length ; i++) {
                if (tables[i].style.display == "none") {
                    if (tables[i].dataset.collection == obj.id && tables[i].dataset.rarete in liste == true)
                    {
                        tables[i].style.display = "inline-table"
                    }
                }
            }
        } else {
            for (i=0 ; i<tables.length ; i++) {
                if (tables[i].style.display == "inline-table") {
                    if (tables[i].dataset.collection == obj.id)
                    {
                        tables[i].style.display = "none"
                    }
                }
            }
        }
    }

    function filterRarete(obj) {
        divTables=document.getElementById("all-titres")
        tables=divTables.children
        collections=document.getElementById("collections")

        var liste = {}
        for (i=0 ; i<collections.children.length ; i++) {
            if (collections.children[i].localName == "input" && collections.children[i].checked == true) {
                liste[collections.children[i].id]=true
            }
        }
        if (obj.checked == true) {
            for (i=0 ; i<tables.length ; i++) {
                if (tables[i].style.display == "none") {
                    if (tables[i].dataset.rarete == obj.id && tables[i].dataset.collection in liste == true)
                    {
                        tables[i].style.display = "inline-table"
                    }
                }
            }
        } else {
            for (i=0 ; i<tables.length ; i++) {
                if (tables[i].style.display == "inline-table") {
                    if (tables[i].dataset.rarete == obj.id)
                    {
                        tables[i].style.display = "none"
                    }
                }
            }
        }
    }

    function checkAll(obj) {
        divTables=document.getElementById("all-titres")
        
        if (obj.checked == true) {

        }
    }


</script>
{% endblock script %}

{% block stats %}
{% load TagsCustom %}

<div class="guild-stats">Boutique du jour - vous pouvez acheter des titres depuis votre profil</div>

<div class="div-titres">
    
    <table>
        <tr><th colspan="5">Titres en boutique</th></tr>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th class="text-small">Rareté</th>
            <th class="text-small">Collection</th>
            <th>Prix <img class="otcoin" src="https://cdn.discordapp.com/attachments/726034739550486618/959864834147622942/873226814527520809.webp"></th>
        </tr>

        {% for i in boutique %}
            <tr>
                <td>{{ i.ID }}</td>
                <td>{{ i.Nom }}</td>
                <td class="text-small">{{ i.Rareté|usedict:dictRarete }}</td>
                <td class="text-small">{{ i.Collection }}</td>
                {% if i.Own == True %}
                    <td>Déjà possédé !</td>
                {% elif i.Stock == 0 %}
                    <td>En rupture de stock !</td>
                {% else %}
                    <td>{{ i.Rareté|usedict:dictAchat }}</td>
                {% endif %}
                
            </tr>
        {% endfor %}

    </table>
</div>

<div class="guild-stats">Tous les titres</div>

<div style="display:flex">
    <div class="filter-titres" id="collections">
        <h4>Filtrer les collections</h4>
        {% for i in collec %}
            <input type="checkbox" id="{{ i }}" name="{{ i }}" value="{{ i }}" checked onchange="filterTitres(this)">
            <label for="{{ i }}">{{ i }}</label>
            <br>
        {% endfor %}
    </div>
    <div class="filter-titres" id="raretes">
        <h4>Filtrer les raretés</h4>
        {% for i in rarete %}
            <input type="checkbox" id="{{ i|usedict:dictRarete }}" name="{{ i|usedict:dictRarete }}" value="{{ i|usedict:dictRarete }}" checked onchange="filterRarete(this)">
            <label for="{{ i|usedict:dictRarete }}">{{ i|usedict:dictRarete }}</label>
            <br>
        {% endfor %}
    </div>
</div>

<div class="grid-threecol" id="all-titres">
    {% for i in titresInfos %}
        <table class="table-jeux" data-rarete="{{ i.Rareté|usedict:dictRarete }}" data-collection="{{ i.Collection }}" style="display: inline-table;">
            <tr><th colspan="3">{{ i.Nom }}</th></tr>
            <tr>
                <th>ID</th>
                <th>Rareté</th>
                <th>Collection</th>
            </tr>
            <tr>
                <td>{{ i.ID }}</td>
                <td>{{ i.Rareté|usedict:dictRarete }}</td>
                <td>{{ i.Collection }}</td>
            </tr>
            <tr><td colspan="3">{{ i.Description }}</td></tr>
        </table>
    {% endfor %}
</div>


{% endblock stats %}