<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/726034739550486618/908452059496448000/capucheB.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    
    <title>Erreur - OT Companion</title>
</head>

<body>
    <img style="position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%) ;width: 720px;" src="https://cdn.discordapp.com/attachments/726034739550486618/886654308735651840/black.png">
    <div class="guild-stats">Quelque chose s'est mal passé...<br>Erreur 500</div>
</body>