<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/726034739550486618/908452059496448000/capucheB.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    
    <title>{{ guildname }} - OT Companion</title>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
</head>

<script type="text/javascript">

    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }
    

    function resizeIframe(obj) {
        if (obj.src != "http://localhost:8000/companion/iframeblank") {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    }

    function showBar(id) {
        document.getElementById(id).style.opacity = 100;
        sleep(500).then(() => {document.getElementById(id).style.fontSize = "20px"})
    }    

    function hideBar(id) {
        document.getElementById(id).style.opacity = 0;
        sleep(500).then(() => {document.getElementById(id).style.fontSize = "0"})
    }  

    function clickServ(obj) {
        obj.style.backgroundColor = "#36F";
    }

    function searchName(n) {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchTable");
        filter = input.value.toUpperCase();
        table = document.getElementById("tableot");
        if (table == null) {
            table = document.getElementById("tablecompare")
        }
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[n];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function getTwemoji(id,obj) {
        var td = document.createElement("div")
        var hex = id.toString(16)
        console.log(hex)
        var emoji = twemoji.convert.fromCodePoint(hex)

        td.textContent = emoji
        twemoji.parse(td)
        obj.appendChild(td)
    }
</script>

{% block script %} {% endblock %}

{% load TagsCustom %}
<header class="header-ot">
    
    <span class="user-avatar"><img  src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png?size=128">
    <h1>Olbor Track Companion</h1></span>
    
</header>

<body>
    <div class="sidenav" id="side">
        <a href="/companion/" class="ot-logo" onmouseenter="showBar('OT')" onmouseleave="hideBar('OT')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png?size=128"></span>
            <span id="OT" class="text-bar">Olbor Track - Accueil</span>
        </a>
        <a href="/companion/profil/{{ id }}" class="focus-logo" onmouseenter="showBar('Focus')" onmouseleave="hideBar('Focus')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/avatars/{{ id }}/{{ avatar }}.{{ anim }}?size=128"></span>
            <span id="Focus" class="text-bar">Focus et profil</span>
        </a>
        <a href="/companion/" class="ot-logo" onmouseenter="showBar('0')" onmouseleave="hideBar('0')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/888859878926471198/DiamantGlobalRect400.png"></span>
            <span id="0" class="text-bar">Classements jeux</span>
        </a>
        {% for guild in guilds %}
            {% if guild.Icon != None %}
                {% if guild.ID == guildid %}
                    <a href="/companion/{{ guild.ID }}/home" style="background-color: #696969;" onmouseenter="showBar('{{ guild.ID }}')" onmouseleave="hideBar('{{ guild.ID }}')">
                {% else %}
                    <a href="/companion/{{ guild.ID }}/home" onmouseenter="showBar('{{ guild.ID }}')" onmouseleave="hideBar('{{ guild.ID }}')" onclick="clickServ(this)">
                {% endif %}
                    
                        <img src="https://cdn.discordapp.com/icons/{{ guild.ID }}/{{ guild.Icon }}.{{ guild.Anim }}?size=128" alt="Icone du serveur {{ guild.Nom }}" >
                        <span id="{{ guild.ID }}" class="text-bar">{{ guild.Nom }}</span>
                    </a>
            {% endif %}
        {% endfor %}

        <a href="/companion/" id="nones">
            <span class="little-icon-guild" ></span>
            <span id="0" class="text-bar">Classements jeux</span>
        </a>
    </div>

    <div class="guild-stats">
        {% if guildid == 0 %}
            <img src="https://cdn.discordapp.com/avatars/699728606493933650/cf1f6b58e81f5191684995ce4062ca7e.webp?size=128">
            <br>Olbor Track - Classements mondiaux
        {% else %}
            <img src="https://cdn.discordapp.com/icons/{{ guildid }}/{{ guildicon }}.png?size=128">
            <br>{{ guildname }}
        {% endif %}
    </div>

    {% if options != None %}
        <div class="navbar">
            {% for o in options %}
                {% if option == o %}
                    <a class="select">{{ o|usedict:dictOptions }}</a>
                {% elif o == "home" %}
                    <a href="/companion/{{ guildid }}/{{ o }}" onclick="clickServ(this)">{{ o|usedict:dictOptions }}</a>
                {% else %}
                    <a href="/companion/{{ guildid }}/{{ o }}/ranks" onclick="clickServ(this)">{{ o|usedict:dictOptions }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if commands != None %}
        <div class="navbar">
            {% for c in commands %}
                {% if command == c %}
                    <a class="select">{{ c|usedict:dictCommands }}</a>
                {% else %}
                    <a href="/companion/{{ guildid }}/{{ option }}/{{ c }}" onclick="clickServ(this)">{{ c|usedict:dictCommands }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if selector != False %}
        <div class="navbar">
            {% for p in lisPlus %}
                {% if plus == p %}
                    <a class="select">{{ p|usedict:dictPlus }}</a>
                {% else %} 
                    {% if p == "" %}
                        <a href="/companion/{{ guildid }}/{{ option }}/{{ command }}" onclick="clickServ(this)">{{ p|usedict:dictPlus }}</a>
                    {% else %}
                        <a href="/companion/{{ guildid }}/{{ option }}/{{ command }}/{{ p }}" onclick="clickServ(this)">{{ p|usedict:dictPlus }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

    {% if travel or obj != None %}
        <form action="" method="get" class="form-example">
            <div class="navbar">
            {% if travel %}
                <select name="mois">
                    {% for i in listeMois %}
                        {% if i == mois %}
                            <option selected>{{ i }}</option>
                        {% else %}
                            <option>{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <select name="annee">
                    {% for i in listeAnnee %}
                        {% if i == annee %}
                            <option selected>{{ i }}</option>
                        {% else %}
                            <option>{{ i }}</option>
                        {% endif %}
                        {% endfor %}
                </select>
            {% endif %}
            {% if obj != None %}
                <select name="obj">
                    {% for i in listeObjs %}
                        {% if i.ID == obj %}
                            <option value="{{ i.ID }}" selected>{{ i.Nom }}</option>
                        {% else %}
                            <option value="{{ i.ID }}">{{ i.Nom }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
                <input type="submit" value="Parcourir" onclick="clickServ(this)">
            </div>
        </form>
    {% endif %}



    {% block stats %} {% endblock %}

    <div class="footer-ot" style="margin-bottom: 0;">
        <span class="footer-links">
            <a href="/companion"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png"></a>
            <a href="https://twitter.com/OlborTrack"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575596027768943/580b57fcd9996e24bc43c53e.png"></a>
            <a href="https://instagram.com/OlborTrack"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575617326424095/zerdsfsf.png"></a>
            <a href="https://github.com/OlborEgamorf/OlborTrack-Bot"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575617653583922/25231.png"></a>
        </span>
    </div>

    <div class="footer-ot" style="margin-top: 0;width: 250px;">
        <span class="footer-credits">
            Olbor Track Companion <br>Par OlborEgamorf
        </span>
    </div>

</body>
</html>