{% extends "companion/BASE.html" %}

{% block script %}
<script type="text/javascript">
    
    function newSite(jour,mois,annee,obj) {
        var site = "/companion/{{ guildid }}/iframearchive?data="+jour+"?"+mois+"?"+annee
        document.getElementById('iframeevol').src = site
        try {document.getElementById("elselect").id = NaN}
        catch {}
        obj.id = "elselect"
        
    }    

</script>
{% endblock script %}

{% block stats %}
<div class="stats">
    <table id="tableot">
        <tr><th colspan="4">Statistiques évolution {{ mois }} {{ annee }}, {{ nom }}</th></tr>
        <tr>
            <th>Rang</th>
            <th>Date</th>
            <th id="leg-barre">Barre</th>
            <th>Messages</th>
        </tr>
        {% for i in rank %}
            <tr onClick="newSite('{{ i.Jour }}','{{ i.Mois }}','{{ i.Annee }}',this)">
                {% if i.Evol > 0 %}
                    <td style="background-color: green;">{{ i.Rank }}</td>
                {% elif i.Evol < 0 %}
                    <td style="background-color: red;">{{ i.Rank }}</td>
                {% else %}
                    <td>{{ i.Rank }}</td>
                {% endif %}
                <td class="date">{{ i.Jour }} / {{ i.Mois }} / {{ i.Annee }}</td>
                <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }}); background-color: {{ color }}"></div></td>
                <td>{{ i.Count }}</td>
            </tr>
        {% endfor %}
    </table>
    <iframe id="iframeevol" src="/companion/iframeblank" scrolling="no" onload="resizeIframe(this)"></iframe>
</div>
{% endblock stats %}