{% extends "companion/BASE.html" %}

{% block stats %}
<div class="stats" style="justify-content: center;">
    <div id="tableot">
        <div class="guild-stats">Pour vous</div>

        {% if fig != None %}
        <div class="graphs">
            {% autoescape off %}
            {{ fig }}
            {% endautoescape %}
        </div>
        {% endif %}

        {% if fig2 != None %}
        <div class="graphs">
            {% autoescape off %}
            {{ fig2 }}
            {% endautoescape %}
        </div>
        {% endif %}

        {% if fig3 != None %}
        <div class="graphs">
            {% autoescape off %}
            {{ fig3 }}
            {% endautoescape %}
        </div>
        {% endif %}

        {% if fig4 != None %}
        <div class="graphs">
            {% autoescape off %}
            {{ fig4 }}
            {% endautoescape %}
        </div>
        {% endif %}

        <div class="guild-stats">Pour le serveur</div>

        {% if fig5 != None %}
        <div class="graphs">
            {% autoescape off %}
            {{ fig5 }}
            {% endautoescape %}
        </div>
        {% endif %}

        {% if fig6 != None %}
        <div class="graphs">
            {% autoescape off %}
            {{ fig6 }}
            {% endautoescape %}
        </div>
        {% endif %}

        {% if fig7 != None %}
        <div class="graphs">
            {% autoescape off %}
            {{ fig7 }}
            {% endautoescape %}
        </div>
        {% endif %}
    </div>
    {% if command == "ranks" %}
        <iframe src="/companion/{{ guildid }}/{{ option }}/iframeranks/graphs?data={{ mois }}?{{ annee }}?{{ obj }}" scrolling="no" onload="resizeIframe(this)"></iframe>
    {% elif command == "periods" %}
        <iframe src="/companion/{{ guildid }}/{{ option }}/iframeperiods/graphs" scrolling="no" onload="resizeIframe(this)"></iframe>
    {% endif %}
</div>
{% endblock stats %}
