<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/726034739550486618/908452059496448000/capucheB.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    
    <title>{{ guildname }} - OT Companion</title>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'companion/Scripts.js' %}" crossorigin="anonymous"></script>
</head>

<body>
    <div class="sidenav" id="side">
        <a href="/companion/" class="ot-logo" onmouseenter="showBar('OT')" onmouseleave="hideBar('OT')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png?size=128"></span>
            <span id="OT" class="text-bar">Olbor Track - Accueil</span>
        </a>
        <a href="/companion/profil/{{ id }}" onmouseenter="showBar('Focus')" onmouseleave="hideBar('Focus')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/avatars/{{ id }}/{{ avatar }}?size=128"></span>
            <span id="Focus" class="text-bar">{{ nom }}</span>
        </a>
        <a href="/companion/{{ guildid }}" style="background-color: #696969;" onmouseenter="showBar('Guild')" onmouseleave="hideBar('Guild')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/icons/{{ guildid }}/{{ guildicon }}"></span>
            <span id="Guild" class="text-bar">{{ guildname }}</span>
        </a>
        <a href="/companion/{{ guildid }}/home" onmouseenter="showBar('Stats')" onmouseleave="hideBar('Stats')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/870604054831714344/stats.png"></span>
            <span id="Stats" class="text-bar">Statistiques</span>
        </a>
        <a  onmouseenter="showBar('Sondages')" onmouseleave="hideBar('Sondages')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/870604052315136050/poll.png"></span>
            <span id="Sondages" class="text-bar">Sondages</span>
        </a>
        <a  onmouseenter="showBar('SV')" onmouseleave="hideBar('SV')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/870604056203231252/sv.png"></span>
            <span id="SV" class="text-bar">Savez-Vous ?</span>
        </a>
        <a onmouseenter="showBar('Anniv')" onmouseleave="hideBar('Anniv')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/888141462066303056/anniv.png"></span>
            <span id="Anniv" class="text-bar">Anniversaires</span>
        </a>
        <a onmouseenter="showBar('Outils')" onmouseleave="hideBar('Outils')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/870604051069407272/outils.png"></span>
            <span id="Outils" class="text-bar">Outils</span>
        </a>
        <a onmouseenter="showBar('Admin')" onmouseleave="hideBar('Admin')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/870604058883420170/admin.png"></span>
            <span id="Admin" class="text-bar">Administration</span>
        </a>
    </div>

    <div class="profil-infos">
        <div>
            <img class="profil-avatar" src="https://cdn.discordapp.com/icons/{{ guildid }}/{{ guildicon }}">
            <div class="profil-texte">
                <div class="texte-gros">
                    {{ guildname }}
                </div>
            </div>
        </div>
    </div>

    <div class="guild-stats">Où souhaitez-vous aller ?</div>
    <div class="all-guilds">
        {% if stats %}
            <a href="/companion/{{ guildid }}/home">
                <div class="card-guild">
                    <span class="icon-guild">
                        <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/870604054831714344/stats.png">
                    </span>
                    <span class="guild-name">Statistiques d'activité du serveur</span>
                </div>
            </a>
        {% endif %}
        {% if polls %}
            <a >
                <div class="card-guild">
                    <span class="icon-guild">
                        <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/870604052315136050/poll.png">
                    </span>
                    <span class="guild-name">Création d'un sondage</span>
                </div>
            </a>
        {% endif %}
        {% if sv %}
            <a >
                <div class="card-guild">
                    <span class="icon-guild">
                        <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/870604056203231252/sv.png">
                    </span>
                    <span class="guild-name">Boîte de connaissances du serveur</span>
                </div>
            </a>
        {% endif %}
        {% if anniv %} 
            <a >
                <div class="card-guild">
                    <span class="icon-guild">
                        <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/888141462066303056/anniv.png">
                    </span>
                    <span class="guild-name">Anniversaires</span>
                </div>
            </a>
        {% endif %}
        {% if outils %}
            <a >
                <div class="card-guild">
                    <span class="icon-guild">
                        <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/870604051069407272/outils.png">
                    </span>
                    <span class="guild-name">Gestion des outils</span>
                </div>
            </a>
        {% endif %}
        {% if admin %}
            <a >
                <div class="card-guild">
                    <span class="icon-guild">
                        <img class="img-guild" src="https://cdn.discordapp.com/attachments/726034739550486618/870604058883420170/admin.png">
                    </span>
                    <span class="guild-name">Administration</span>
                </div>
            </a>
        {% endif %}
    </div>

    <div class="footer-ot" style="margin-bottom: 0;">
        <span class="footer-links">
            <a href="/companion"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png"></a>
            <a href="https://twitter.com/OlborTrack"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575596027768943/580b57fcd9996e24bc43c53e.png"></a>
            <a href="https://instagram.com/OlborTrack"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575617326424095/zerdsfsf.png"></a>
            <a href="https://github.com/OlborEgamorf/OlborTrack-Bot"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575617653583922/25231.png"></a>
        </span>
    </div>

    <div class="footer-ot" style="margin-top: 0;width: 250px;">
        <span class="footer-credits">
            Olbor Track Companion <br>Par OlborEgamorf
        </span>
    </div>

</body>
</html>