<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.discordapp.com/avatars/699728606493933650/0859eb6e97dd8d92e6668c397bf4b311.webp?size=256">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    <title>Olbor Track Companion</title>
</head>
<header class="header-ot">

    <span class="user-avatar"><img src="https://cdn.discordapp.com/avatars/{{ id }}/{{ avatar }}.{{ anim }}?size=128" ></span>
    <span class="links">
        <a href="../">Accueil</a>
        <a href="/">Companion</a>
        <a href="../">Inviter OT</a>
        <a href="../">Commandes</a>
        <a href="../">Déconnexion</a>
        <a href="../">Profil</a>
    </span>
    
</header>

<script type="text/javascript">
    
    function showBar(id) {
        console.log("on")
        console.log(document.getElementById(id))
        document.getElementById(id).style.display = "contents";
    }    

    function hideBar(id) {
        console.log("off")
        document.getElementById(id).style.display = "none";
    }  
    </script>

<body>

    <h1>Choisissez votre serveur</h1>
    <div class="all-guilds">
        {% for guild in guilds %}
            <a href="/companion/{{ guild.ID }}/messages/rank">
                <div class="card-guild">
                    {% if guild.Icon != None %}
                        <span class="icon-guild">
                            <img src="https://cdn.discordapp.com/icons/{{ guild.ID }}/{{ guild.Icon }}.{{ guild.Anim }}?size=128" alt="Icone du serveur {{ guild.Nom }}">
                    {% endif %}
                        
                    </span>
                    <span class="guild-name">{{ guild.Nom }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="footer-ot">
        <span class="footer-links">
            <a href="../">Accueil</a>
            <a href="../">Twitter</a>
            <a href="../">Instagram</a>
            <a href="../">GitHub</a>
        </span>
    </div>

    
</body>


</html>