<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/726034739550486618/908452059496448000/capucheB.png">
    {% load static %}
    <link rel="stylesheet" href="{% static 'companion/NewCSS.css' %}">
    
    <title>{{ nom }} - OT Companion</title>
</head>


{% load TagsCustom %}
<header class="header-ot">
    
    <span class="user-avatar"><img  src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png?size=128">
    <h1>Olbor Track Companion</h1></span>
    
</header>

<body>
    <div class="sidenav" id="side">
        <a href="/companion/" class="ot-logo" onmouseenter="showBar('OT')" onmouseleave="hideBar('OT')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png?size=128"></span>
            <span id="OT" class="text-bar">Olbor Track - Accueil</span>
        </a>
        <a href="/companion/profil/{{ id }}" class="focus-logo" onmouseenter="showBar('Focus')" onmouseleave="hideBar('Focus')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/avatars/{{ id }}/{{ avatar }}.{{ anim }}?size=128"></span>
            <span id="Focus" class="text-bar">Focus et profil</span>
        </a>
        <a href="/companion/" class="ot-logo" onmouseenter="showBar('0')" onmouseleave="hideBar('0')" onclick="clickServ(this)">
            <span class="little-icon-guild" ><img src="https://cdn.discordapp.com/attachments/726034739550486618/888859878926471198/DiamantGlobalRect400.png"></span>
            <span id="0" class="text-bar">Classements jeux</span>
        </a>
    </div>

    <div class="profil-infos">
        <div>
            <img class="profil-avatar" src="https://cdn.discordapp.com/avatars/{{ id }}/{{ avatar }}.{{ anim }}?size=128">
            <div class="profil-texte">
                <div class="texte-gros">
                    {{ nom }}
                    {% if vip == True %}
                        <img class="profil-badges" src="https://cdn.discordapp.com/attachments/726034739550486618/956648515315048448/VipmotifCrop400.png" alt="Badge VIP">
                    {% endif %}
                    {% if testeur == True %}
                        <img class="profil-badges" src="https://cdn.discordapp.com/attachments/726034739550486618/956648515080183859/TesteursmotifCrop400.png" alt="Badge Testeur">
                    {% endif %}</div>
                <div class="texte-titre">
                    {% if emote != None %}
                        <img class="profil-emote" src="https://cdn.discordapp.com/emojis/{{ emote }}" alt="Emote de {{ nom }}">
                    {% endif %}
                    {{ titre }}</div>
            </div>
        </div>
    </div>

    <div class="user-profil">  
        <div class="div-recap">
            <table class="table-recap">
                <tr><th colspan="5">Messages envoyés par serveur</th></tr>
                <tr>
                    <th>Rang (interne)</th>
                    <th colspan="2">Serveur</th>
                    <th id="leg-barre">Barre</th>
                    <th>Messages</th>
                </tr>
        
                {% for i in messages %}
                    <tr>
                        <td>{{ i.Rank }} ({{ i.RankIntern }})</td>
                        <td>
                            {% if i.Icon %}
                                <img src="https://cdn.discordapp.com/icons/{{ i.ID }}/{{ i.Icon }}.png?size=128">
                            {% else %}
                                <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                            {% endif %}
                        </td>
                        <td style="text-align: start;">{{ i.Nom }}</td>
                        <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ maxMess }})"></div></td>
                        <td>{{ i.Count }}</td>
                    </tr>
                {% endfor %}

                {% if messages|len == 0%}
                    <tr><td colspan="5">Contenu indisponible, manquant ou masqué.</td>
                {% endif %}
            </table>

            <table class="table-recap">
                <tr><th colspan="5">Temps en vocal par serveur</th></tr>
                <tr>
                    <th>Rang (interne)</th>
                    <th colspan="2">Serveur</th>
                    <th id="leg-barre">Barre</th>
                    <th>Messages</th>
                </tr>
        
                {% for i in vocal %}
                    <tr>
                        <td>{{ i.Rank }} ({{ i.RankIntern }})</td>
                        <td>
                            {% if i.Icon %}
                                <img src="https://cdn.discordapp.com/icons/{{ i.ID }}/{{ i.Icon }}.png?size=128">
                            {% else %}
                                <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                            {% endif %}
                        </td>
                        <td style="text-align: start;">{{ i.Nom }}</td>
                        <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ maxVoc }})"></div></td>
                        <td>{{ i.Count|tempsvoice:'voice' }}</td>
                    </tr>
                {% endfor %}

                {% if vocal|len == 0%}
                    <tr><td colspan="5">Contenu indisponible, manquant ou masqué.</td>
                {% endif %}
            </table>

            <table class="table-recap">
                <tr><th colspan="4">Emotes envoyées</th></tr>
                <tr>
                    <th>Rang</th>
                    <th>Emote</th>
                    <th id="leg-barre">Barre</th>
                    <th>Messages</th>
                </tr>
        
                {% for i in emotes %}
                    <tr>
                        <td>{{ i.Rank }}</td>
                        <td>
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}?size=128" style="border-radius: 0%;">
                        </td>
                        <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ maxEmote }})"></div></td>
                        <td>{{ i.Count }}</td>
                    </tr>
                {% endfor %}

                {% if emotes|len == 0%}
                    <tr><td colspan="4">Contenu indisponible, manquant ou masqué.</td>
                {% endif %}
            </table>

            <table class="table-recap">
                <tr><th colspan="5">Salons les plus utilisés</th></tr>
                <tr>
                    <th>Rang (interne)</th>
                    <th colspan="2">Salon</th>
                    <th id="leg-barre">Barre</th>
                    <th>Messages</th>
                </tr>
        
                {% for i in salons %}
                    <tr>
                        <td>{{ i.Rank }} ({{ i.RankIntern }})</td>
                        <td>
                            {% if i.Icon %}
                                <img src="https://cdn.discordapp.com/icons/{{ i.IDGuild }}/{{ i.Icon }}.png?size=128">
                            {% else %}
                                <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                            {% endif %}
                        </td>
                        <td style="text-align: start;">{{ i.Nom }}</td>
                        <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ maxChan }})"></div></td>
                        <td>{{ i.Count }}</td>
                    </tr>
                {% endfor %}

                {% if salons|len == 0%}
                    <tr><td colspan="5">Contenu indisponible, manquant ou masqué.</td>
                {% endif %}
            </table>

            <table class="table-recap">
                <tr><th colspan="4">Heures d'activité</th></tr>
                <tr>
                    <th>Rang</th>
                    <th>Heure</th>
                    <th id="leg-barre">Barre</th>
                    <th>Messages</th>
                </tr>
        
                {% for i in freq %}
                    <tr>
                        <td>{{ i.Rank }}</td>
                        <td style="text-align: start;">{{ i.ID }}h</td>
                        <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ maxFreq }})"></div></td>
                        <td>{{ i.Count }}</td>
                    </tr>
                {% endfor %}

                {% if freq|len == 0%}
                    <tr><td colspan="4">Contenu indisponible, manquant ou masqué.</td>
                {% endif %}
            </table>
        </div>


        <div class="stats-jeux">
            {% for i in jeux %}
                <table class="table-jeux">
                    <tr><th colspan="3">{{ i }}</th></tr>
                    <tr><th colspan="3">Badges</th></tr>
                    <tr><td colspan="3">
                        {% for j in badges|getbadges:i %}
                            <img src='{{ j|badgeurl:i }}' class='badge'>
                        {% endfor %}
                        
                    </td></tr>
                    <tr><th colspan="3">Board</th></tr>
                    <tr><th>Période</th><th>Classement</th><th>Points</th></tr>
                    {% for j in stats|getbadges:i %}
                        <tr><td>{{ j.Mois }} / {{ j.Annee }}</td><td>{{ j.Rank }}</td><td>{{ j.Count }}</td></tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>



    <div class="footer-ot" style="margin-bottom: 0;">
        <span class="footer-links">
            <a href="/companion"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/908452059496448000/capucheB.png"></a>
            <a href="https://twitter.com/OlborTrack"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575596027768943/580b57fcd9996e24bc43c53e.png"></a>
            <a href="https://instagram.com/OlborTrack"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575617326424095/zerdsfsf.png"></a>
            <a href="https://github.com/OlborEgamorf/OlborTrack-Bot"><img class="image-small" src="https://cdn.discordapp.com/attachments/726034739550486618/935575617653583922/25231.png"></a>
        </span>
    </div>

    <div class="footer-ot" style="margin-top: 0;width: 250px;">
        <span class="footer-credits">
            Olbor Track Companion <br>Par OlborEgamorf
        </span>
    </div>

</body>
</html>