{% extends "companion/BASE.html" %}

{% block stats %}
<div class="grid-onecol" style="justify-content: center;">
    {% if fig != None %}
    <div class="graphs">
        {% autoescape off %}
        {{ fig }}
        {% endautoescape %}
    </div>
    {% endif %}

    {% if fig2 != None %}
    <div class="graphs">
        {% autoescape off %}
        {{ fig2 }}
        {% endautoescape %}
    </div>
    {% endif %}

    {% if fig3 != None %}
    <div class="graphs">
        {% autoescape off %}
        {{ fig3 }}
        {% endautoescape %}
    </div>
    {% endif %}

    {% if fig4 != None %}
    <div class="graphs">
        {% autoescape off %}
        {{ fig4 }}
        {% endautoescape %}
    </div>
    {% endif %}

    {% if fig5 != None %}
    <div class="graphs">
        {% autoescape off %}
        {{ fig5 }}
        {% endautoescape %}
    </div>
    {% endif %}

    {% if fig6 != None %}
    <div class="graphs">
        {% autoescape off %}
        {{ fig6 }}
        {% endautoescape %}
    </div>
    {% endif %}

    {% if fig7 != None %}
    <div class="graphs">
        {% autoescape off %}
        {{ fig7 }}
        {% endautoescape %}
    </div>
    {% endif %}

    {% if fig8 != None %}
    <div class="graphs">
        {% autoescape off %}
        {{ fig8 }}
        {% endautoescape %}
    </div>
    {% endif %}
</div>
{% endblock stats %}
