{% extends "companion/BASE.html" %}

{% block script %}
<script type="text/javascript">
    
    function newSite(jour,mois,annee,obj) {
        var site = "/companion/{{ guildid }}/{{ option }}/iframejours?data="+jour+"?"+mois+"?"+annee
        document.getElementById('iframeevol').src = site
        try {document.getElementById("elselect").id = NaN}
        catch {}
        obj.id = "elselect"
        
    }    
</script>
{% endblock script %}

{% block stats %}
{% load TagsCustom %}
<div class="stats">
    <table id="tableot">
        <tr><th colspan="4">Classement jours {{ mois }} {{ annee }}</th></tr>
        <tr>
            <th>Rang</th>
            <th>Date</th>
            <th id="leg-barre">Barre</th>
            <th>{{ option|headcount }}</th>
        </tr>
        {% for i in rank %}
            <tr onClick="newSite('{{ i.Jour }}','{{ i.Mois }}','{{ i.Annee }}',this)">
                <td>{{ i.Rank }}</td>
                <td class="date">{{ i.Jour }} / {{ i.Mois }} / {{ i.Annee }}</td>
                <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }})"></div></td>
                <td>{{ i.Count|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>
    <iframe id="iframeevol" src="/companion/iframeblank?option={{ option }}&command={{ command }}&plus={{ plus }}" scrolling="no" onload="resizeIframe(this)"></iframe>
</div>
{% endblock stats %}