.header-ot {
    background: #36F;
    height: 80px;
    width: 85%;
    margin: auto auto 40px auto;
    border-radius: 10px;
    display: flex;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    align-items: center;
}

.links {
    flex: 1 1 auto;
    justify-content: center;
    display: flex;
}
.links a {
    color:white;
    text-align: center;
    padding: 30px 10px;
    font-size: 20px;
    text-decoration:none;
    transition: all 0.5s;
}

.links a:hover {
    color:#36F;
    background-color: white;
    border-radius: 10px;
    transition:all 0.5s;
}

.header-ot span img {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 100%;
}

.user-avatar {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}



body {
    background: #222;
    margin:10px;
}

h1 {
    color:white;
    text-align: center;
    vertical-align:text-top;
    font-family:Roboto, Arial, Tahoma, sans-serif;
}

.bodyiframe {
    margin:0
}



.all-guilds {
    margin: auto;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}



.card-guild {
    background: #111;
    margin: 20px 15px;
    width: 120px;
    height: 200px;
    float: left;
    border-radius: 10px;
    transition: all 0.5s;
}

.img-mix {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.5s;
}

.img-guild {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.5s;
}

.guild-name {
    color:white;
    text-align: center;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    line-height: 150%;
    float:inline-start;
    width: 100px;
    padding: 0 10px;
    transition: all 0.5s;
    
}

.card-guild:hover {
    width: 140px;
    height: 220px;
    margin: 30px 25px;
    transition: all 0.5s;
}

.card-guild:hover .icon-guild img {
    padding: 20px;
    transition: all 0.5s;
}

.card-guild:hover .guild-name {
    padding: 0 20px;
    transition: all 0.5s;
}

.card-mix {
    background: #111;
    margin: 20px 15px;
    width: 120px;
    height: 200px;
    float: left;
    border-radius: 10px;
    transition: all 0.5s;
}

.footer-ot {
    background: #36F;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    display :flex;
    margin: 20px auto;
    justify-content: center;
}

.footer-links {
    justify-content:center;
    display:flex;
    flex: auto;
}
.footer-links a {
    color:white;
    text-align: center;
    padding: 5px 15px;
    font-size: 20px;
}



.stats {
    display: flex;
}

table {
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    color:white;
    background-color: #111;
    font-size: 20px;
    text-align: center;
    
}

td {
    border: none;
    font-size: 17.5px;
}

.user {
    font-style: italic;
    font-weight: bold;
}

tr:nth-child(even){
    background-color: black;
}


.barretd {
    width:65%;
    height:35px;
}

.barre {
    background-color:#37be96;
    height:14px;
    border-radius: 25px;
}

table img {
    height: 38px;
    width: 38px;
    border-radius: 100%;
}


.navbar {
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    color:white;
    background-color: #111;
    font-size: 20px;
    text-align: center;
    vertical-align:middle;
    transition: 0.5s;
} 

.navbar a {
    padding: 0 2%;
    border-radius: 10px;
    color:white;
    text-decoration:none;
    transition: 0.5s;
}

.navbar a:hover {
    background-color:#36F ;
    transition: 0.5s;
}

.select {
    background-color: #36F;
    border-radius: 10px;
}

.disabled {
    opacity: 0.3;
}

.guild-stats {
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    color:white;
    background-color: #111;
    font-size: 20px;
    text-align: center;
    vertical-align:middle;
}

.guild-stats img {
    border-radius: 100%;
    padding: 5px;
}

select {
    border-radius: 10px;
    color:white;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    background-color:#36F ;
    font-size: 20px;
    text-align: center;
    border: none;
    padding: 0 2%;

}

input {
    border-radius: 10px;
    color:white;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    background-color:#36F ;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0 2%;
    transition: 0.5s;
}

input:hover {
    background-color:#36F ;
    transition: 0.5s;
}

iframe {
    border:0;
    margin:30px auto 30px 0;
    width: 30%;
    display: flex;
}

tr {
    transition: 0.5s;
    background-color: #111;
    height: 40px;
}

tr:hover {
    background-color: #333; 
    border-color: #333;
}

.date {
    width: 45%;
}

.table-iframe {
    margin: 0;
    margin-left:auto ;
    margin-bottom: 20px;
}

#tableot {
    margin: 30px 0 30px auto;
    width: 50%;
    height: min-content
}

#tablecompare {
    margin: 30px 0 30px auto;
    width: 80%;
    height: min-content
}

#elselect {
    background-color: #9c9393; 
    border-color: #9c9393;
    transition: 0.5s;
}

@media screen and (max-width:900px) {
    .links {
        display:block;
    }

    .stats {
        display: block;
    }

    iframe {
        display: block;
        width: 80%;
    }

    #tableot {
        margin:auto;
        margin-top: 30px;
        width: 80%;
    }
}

@media screen and (max-width:483px) {
    .links a {
        font-size: 12px;
    }

    .barretd {
        display: none;
    }

    #leg-barre {
        display: none;
    }

    
}

@media screen and (max-width:690px) {
    .footer-links a {
        display:block;
        font-size: 12px;
    }
}

@media screen and (max-width:720px) {
    .sidenav {
        display: none;
    }
}

.double-tab {
    display: flex;
    flex-flow: wrap;
    margin: auto;
}









.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: auto; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #111 #111;
    transition: all 0.5s;
    text-align: center
  }
  
.sidenav:hover {
    transition: all 0.5s;
    scrollbar-color: white #111;
}

.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border-radius: 25%;
    height: 70px;
    width:70px;
    transition: all 0.5s;
    transition-delay: 1s;
  }
  

.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  

@media screen and (max-height: 450px) {
    .sidenav a {display: none;}
  } 


.sidenav a img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: all 0.5s;
    padding: 10px;
    display: inline;
    vertical-align: middle;
}

.text-bar {
    font-family:Roboto, Arial, Tahoma, sans-serif;
    transition: all 0.5s;
    text-align: center;
    display: inline;
    opacity: 0;
    vertical-align: middle;
    font-size: 0;
}

.sidenav a:hover {
    background-color: #36F; 
    width: 400px;
    transition: all 0.5s;
    border-radius: 0;
    color: #f1f1f1;
}



.sidenav a img:hover {
    border-radius: 25%;
    
}

.ot-logo:hover {
    background-image: url(https://cdn.discordapp.com/attachments/726034739550486618/908632652242882590/thin.png);
}

.focus-logo:hover {
    background-image: url(https://cdn.discordapp.com/attachments/726034739550486618/920017345404092416/FOCUSTHIN.png);
}


.stats-compare {
    display: flex;
    width: 80%;
    margin: 10px auto;
}

.iframe-compare {
    width: 100%;
}

.div-compare {
    width:100%
}

.searchTable {
    display: flex;
    justify-content: center;
}


.stats-rapports {
    width: 80%;
    margin: 30px auto;
    display: flex;
}

.table-rapports {
    margin: 30px 0 30px auto;
    width: 33%;
    height: min-content
}

.table-rapports-objs {
    margin: 30px 0 30px auto;
    width: 24%;
    height: min-content
}

.table-rapports-full {
    margin: 30px 0 30px auto;
    width: 100%;
    height: min-content
}

.input-mix-box {
    width: 92%;
}




.image-small {
    width: 30px;
    height: 30px;
}

.footer-credits {
    text-align: center;
    color: white;
}


.table-jeux {
    height: min-content;
    width: 30%;
}

.badge {
    height: 35px;
    width: auto;
    border-radius: 0;
}

.user-profil {
    display: flex;
    justify-content: center;
    margin: 0 160px;
}


.profil-avatar {
    border-radius:100%;
    padding: 20px;
    vertical-align: bottom;
    height: 128px;
    width: 128px;
}

.profil-infos {
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    color: white;
    background-color: #111;
    font-size: 20px;
}

.profil-texte {
    display: inline-block;
    padding: 0 0 25px 10px;
}

.texte-gros {
    font-size: 45px;
}

.texte-titre {
    font-style: italic;
}

.profil-emote {
    width: 24px;
}

.profil-badges {
    width: 27px;
}

.table-recap {
    height: min-content;
    width:45%
}

.div-profil {
    display: flex;
    flex-flow: wrap;
    height: fit-content;
    margin:0 160px
}


.div-titres {
    display: flex;
    flex-flow: wrap;
    height: fit-content;
    margin: 0 160px;
}


.bouton-achat {
    background-color: cornflowerblue;
    font-size: 17px;
}
.bouton-vente {
    background-color: red;
    font-size: 17px;
}
.bouton-set {
    background-color: cornflowerblue;
    font-size: 17px;
}

.otcoin {
    height: 25px;
    width: 25px;
}

.text-small {
    font-size: 17px;
}


button {
    border-radius: 10px;
    color:white;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    background-color:#23254a ;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0 2%;
    transition: 0.5s;
}

button:hover {
    background-color:#23254a ;
    transition: 0.5s;
}

#full {
    transition: 0.5s;
}

.picker {
    display: inline-block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(3, 1, 1, 0.08);
  }

.graphs {
    padding-bottom: 20px;
}