.card-guild {
    background: #111;
    margin: 20px 15px;
    width: 120px;
    height: 200px;
    float: left;
    border-radius: 10px;
    transition: all 0.5s;
}

.img-mix {
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.5s;
}

.img-guild {
    width: 100px;
    height: 100px;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.5s;
}

.guild-name {
    color:white;
    text-align: center;
    font-family:Roboto, Arial, Tahoma, sans-serif;
    line-height: 150%;
    float:inline-start;
    width: 100px;
    padding: 0 10px;
    transition: all 0.5s;
    
}

.card-guild:hover {
    width: 140px;
    height: 220px;
    margin: 30px 25px;
    transition: all 0.5s;
}

.card-guild:hover .icon-guild img {
    padding: 20px;
    transition: all 0.5s;
}

.card-guild:hover .guild-name {
    padding: 0 20px;
    transition: all 0.5s;
}

.card-mix {
    background: #111;
    margin: 20px 15px;
    width: 120px;
    height: 200px;
    float: left;
    border-radius: 10px;
    transition: all 0.5s;
}