{% extends "companion/BASE.html" %}

{% block script %}
<script type="text/javascript">

    function toggle(tog){
        var lignes = document.getElementsByClassName("evol")
        var i
        if (tog.checked == true) {
            for (i = 0; i < lignes.length; i++) {
                console.log(lignes[i].style.display)
                if (lignes[i].dataset.collapse == "True") {
                    lignes[i].style.display = "none"
                }
            } 
        } else {
            for (i = 0; i < lignes.length; i++) {
                lignes[i].style.display = "table-row"
            }
        }
    }

</script>
{% endblock script %}

{% block stats %}
{% load TagsCustom %}

{% if option == "emotes" or option == "reactions" or option == "freq" or option == "salons" or option == "voicechan" %}
    <form action="" method="get" class="form-example">
        <div class="navbar">
            <select name="mois">
                {% for i in listeMois %}
                    {% if i == mois %}
                        <option selected>{{ i }}</option>
                    {% else %}
                        <option>{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <select name="annee">
                {% for i in listeAnnee %}
                    {% if i == annee %}
                        <option selected>{{ i }}</option>
                    {% else %}
                        <option>{{ i }}</option>
                    {% endif %}
                    {% endfor %}
            </select>
        </div>
        <div class="navbar">
            <select name="obj">
                {% for i in listeObjs %}
                    {% if i.ID == user1ID %}
                        <option value="{{ i.ID }}" selected>{{ i.Nom }}</option>
                    {% else %}
                        <option value="{{ i.ID }}">{{ i.Nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            VS
            <select name="obj2">
                {% for i in listeObjs %}
                    {% if i.ID == user2ID %}
                        <option value="{{ i.ID }}" selected>{{ i.Nom }}</option>
                    {% else %}
                        <option value="{{ i.ID }}">{{ i.Nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
                <input type="submit" value="Parcourir" onclick="clickServ(this)">
        </div>
    </form>
{% endif %}

<div class="navbar" style="width: 400px;">
    <input type="text" id="searchTable" onkeyup="searchName(3)" placeholder="Recherchez une date">
    <input id="input-collapse" type="checkbox" onclick="toggle(this)" name="ytes"> <label for="input-collapse">Affiner</label>
</div>

<div class="stats" style="width:80%">
    <table id="tablecompare">
        {% if option == "messages" or option == "mots" or option == "voice" or option == "emotes" or option == "reactions" %}
            <tr>
                <th style="width:45%" colspan="4"> 
                    {% if option == "messages" or option == "mots" or option == "voice" %}
                        {% if user1Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ user1ID }}/{{ user1Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    {% elif option == "emotes" or option == "reactions" %}
                        {% if i.Animated %}
                            <img src="https://cdn.discordapp.com/emojis/{{ user1ID }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ user1ID }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    {% endif %}
                {{ user1Nom }}</th>
                <th style="width:10%">VS</th>
                <th style="width:45%" colspan="4"> 
                    {% if option == "messages" or option == "mots" or option == "voice" %}
                        {% if user2Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ user2ID }}/{{ user2Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    {% elif option == "emotes" or option == "reactions" %}
                        {% if i.Animated %}
                            <img src="https://cdn.discordapp.com/emojis/{{ user2ID }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ user2ID }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    {% endif %}
                {{ user2Nom }}</th>
            </tr>
            <tr>
                <th style="width:10%">Messages</th>
                <th style="width:31%" id="leg-barre">Barre</th>
                <th style="width:5%" colspan="2">Rang</th>
                <th style="width:8%">Date</th>
                <th style="width:5%" colspan="2">Rang</th>
                <th style="width:31%" id="leg-barre">Barre</th>
                <th style="width:10%">Messages</th>
            </tr>
        {% else %}
            <tr><th colspan="4">Classement {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th>Emote</th>
                <th id="leg-barre">Barre</th>
                <th>Utilisations</th>
            </tr>
        {% endif %}

        {% for i in rank %}
            <tr class="evol" data-collapse={{ i.Collapse }}>
                <td>{{ i.Count|tempsvoice:option }}</td>
                <td style="justify-content: flex-end;display: flex;"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }}); background-color: {{ user1Color }}; margin-top:15px"></div></td>
                
                {% if i.Evol > 0 %}
                    <td><img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687366647818/rougeTdry.png"><br>{{ i.Evol }}</td>
                    <td style="background-color: green;">{{ i.Rank }}</td>   
                {% elif i.Evol < 0 %}
                    <td>{{ i.Evol }}<br><img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687551201321/rougeTdqsdry.png"></td>
                    <td style="background-color: red;">{{ i.Rank }}</td>
                    
                {% else %}
                    <td colspan="2">{{ i.Rank }}</td>
                {% endif %}

                <td>{{ i.Jour }}/{{ i.Mois }}/{{ i.Annee }}</td>

                {% if i.Evol2 > 0 %}
                    <td style="background-color: green;">{{ i.Rank2 }}</td>
                    <td><img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687366647818/rougeTdry.png"><br>{{ i.Evol2 }}</td>
                {% elif i.Evol2 < 0 %}
                    <td style="background-color: red;">{{ i.Rank2 }}</td>
                    <td>{{ i.Evol2 }}<br><img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687551201321/rougeTdqsdry.png"></td>
                {% else %}
                    <td colspan="2">{{ i.Rank2 }}</td>
                {% endif %}

                <td>
                    {% if i.Count2 %}
                        <div class="barre" style="width:calc(100%*{{ i.Count2 }}/{{ max }}); background-color: {{ user2Color }}"></div>
                    {% endif %}
                </td>
                <td>{{ i.Count2|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock stats %}