{% extends "companion/BASE.html" %}


{% block stats %}
{% load TagsCustom %}
<div class="searchTable">
    <input type="text" id="searchTable" onkeyup="searchName(3)" placeholder="Recherchez une période">
</div>

<script>
    function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("tablecompare");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 2; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
	  if (y == undefined) {
		  break
	  }
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
	  if (n == 3) {
		  check_x=x.dataset.date.toLowerCase()
		  check_y=y.dataset.date.toLowerCase()
	  } else {
		  check_x=Number(x.innerHTML)
		  check_y=Number(y.innerHTML)
	  }
      if (dir == "asc") {
        if (check_x > check_y) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (check_x < check_y) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

<div class="stats" style="width:80%">
    <table id="tablecompare">
        {% if option == "messages" or option == "mots" or option == "voice" or option == "emotes" or option == "reactions" %}
            <tr>
                <th style="width:45%" colspan="3"> 
                    {% if option == "messages" or option == "mots" or option == "voice" %}
                        {% if user1Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ user1ID }}/{{ user1Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    {% elif option == "emotes" or option == "reactions" %}
                        {% if i.Animated %}
                            <img src="https://cdn.discordapp.com/emojis/{{ user1ID }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ user1ID }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    {% endif %}
                {{ user1Nom }}</th>
                <th style="width:10%">VS</th>
                <th style="width:45%" colspan="4"> 
                    {% if option == "messages" or option == "mots" or option == "voice" %}
                        {% if user2Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ user2ID }}/{{ user2Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    {% elif option == "emotes" or option == "reactions" %}
                        {% if i.Animated2 %}
                            <img src="https://cdn.discordapp.com/emojis/{{ user2ID }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ user2ID }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    {% endif %}
                {{ user2Nom }}</th>
            </tr>
            <tr>
                <th style="width:10%" onclick="sortTable(0)">Messages</th>
                <th style="width:31%" id="leg-barre" onclick="sortTable(0)">Barre</th>
                <th style="width:5%" onclick="sortTable(2)">Rang</th>
                <th style="width:8%" onclick="sortTable(3)">Date</th>
                <th style="width:5%" onclick="sortTable(4)">Rang</th>
                <th style="width:31%" id="leg-barre" onclick="sortTable(6)">Barre</th>
                <th style="width:10%" onclick="sortTable(6)">Messages</th>
            </tr>
        {% else %}
            <tr><th colspan="4">Classement {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th>Emote</th>
                <th id="leg-barre">Barre</th>
                <th>Utilisations</th>
            </tr>
        {% endif %}

        {% for i in rankMois %}
            <tr>
                <td>{{ i.Count|tempsvoice:option }}</td>
                <td style="justify-content: flex-end;display: flex;"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ maxM }}); background-color: {{ user1Color }}"></div></td>

                {% if i.Rank < i.Rank2 %}
                    <td style="text-align: center;font-style: italic;font-weight: bolder; ">{{ i.Rank }}</td>
                {% else %}
                    <td style="text-align: center;">{{ i.Rank }}</td>
                {% endif %}

                <td data-date="{{ i.Annee }}{{ i.Mois }}">{{ i.Mois }}/{{ i.Annee }}</td>

                {% if i.Rank2 < i.Rank %}
                    <td style="text-align: center; font-style: italic;font-weight: bolder;">{{ i.Rank2 }}</td>
                {% else %}
                    <td style="text-align: center;">{{ i.Rank2 }}</td>
                {% endif %}

                <td>
                    {% if i.Count2 %}
                        <div class="barre" style="width:calc(100%*{{ i.Count2 }}/{{ maxM }}); background-color: {{ user2Color }}"></div>
                    {% endif %}
                </td>
                <td>{{ i.Count2|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
        <tr><th colspan="7">Périodes annuelles</th></tr>
        {% for i in rankAnnee %}
            <tr>
                <td>{{ i.Count|tempsvoice:option }}</td>
                <td style="justify-content: flex-end;display: flex;"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ maxA }}); background-color: {{ user1Color }}"></div></td>

                {% if i.Rank < i.Rank2 %}
                    <td style="text-align: center;font-style: italic;font-weight: bolder; ">{{ i.Rank }}</td>
                {% else %}
                    <td style="text-align: center;">{{ i.Rank }}</td>
                {% endif %}

                <td>{{ i.Mois }}/{{ i.Annee }}</td>

                {% if i.Rank2 < i.Rank %}
                    <td style="text-align: center; font-style: italic;font-weight: bolder;">{{ i.Rank2 }}</td>
                {% else %}
                    <td style="text-align: center;">{{ i.Rank2 }}</td>
                {% endif %}

                <td>
                    {% if i.Count2 %}
                        <div class="barre" style="width:calc(100%*{{ i.Count2 }}/{{ maxA }}); background-color: {{ user2Color }}"></div>
                    {% endif %}
                </td>
                <td>{{ i.Count2|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock stats %}