{% extends "companion/BASE.html" %}


{% block stats %}
{% load TagsCustom %}

<form action="" method="get" class="form-example">
    <div class="navbar">
        <select name="mois1">
            {% for i in listeMois %}
                {% if i == mois1 %}
                    <option selected>{{ i }}</option>
                {% else %}
                    <option>{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select name="annee1">
            {% for i in listeAnnee %}
                {% if i == annee1 %}
                    <option selected>{{ i }}</option>
                {% else %}
                    <option>{{ i }}</option>
                {% endif %}
                {% endfor %}
        </select>
        VS
        <select name="mois2">
            {% for i in listeMois %}
                {% if i == mois2 %}
                    <option selected>{{ i }}</option>
                {% else %}
                    <option>{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <select name="annee2">
            {% for i in listeAnnee %}
                {% if i == annee2 %}
                    <option selected>{{ i }}</option>
                {% else %}
                    <option>{{ i }}</option>
                {% endif %}
                {% endfor %}
        </select>
        <input type="submit" value="Parcourir">
    </div>
</form>

<div class="stats" style="width:80%">
    <table id="tablecompare">
        {% if option == "messages" or option == "mots" or option == "voice" or option == "emotes" or option == "reactions" %}
            <tr>
                <th style="width:47.5%" colspan="4">Classement {{ mois1 }} {{ annee1 }}</th>
                <th style="width:5%">VS</th>
                <th style="width:47.5%" colspan="5">Classement {{ mois2 }} {{ annee2 }}</th>
            </tr>
            <tr>
                <th style="width:10%">Messages</th>
                <th style="width:22.5%" id="leg-barre">Barre</th>
                <th style="width:15%" colspan="2">Membre</th>
                <th style="width:5%">Rang</th>
                <th style="width:15%" colspan="3">Membre</th>
                <th style="width:22.5%" id="leg-barre">Barre</th>
                <th style="width:10%">Messages</th>
            </tr>
        {% else %}
            <tr><th colspan="4">Classement {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th>Emote</th>
                <th id="leg-barre">Barre</th>
                <th>Utilisations</th>
            </tr>
        {% endif %}

        {% for i in rank %}
            <tr>
                <td>{{ i.Count|tempsvoice:option }}</td>
                <td style="justify-content: flex-end;display: flex;"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }}); background-color: {{ i.Color }}"></div></td>
                <td style="text-align: end;">{{ i.Nom }}</td>
                {% if option == "messages" or option == "mots" or option == "voice" %}
                    <td>
                        {% if i.Avatar %}
                            <img src="https://cdn.discordapp.com/avatars/{{ i.ID }}/{{ i.Avatar }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    </td>
                {% elif option == "emotes" or option == "reactions" %}
                    <td>
                        {% if i.Animated %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    </td>
                {% endif %}

                <td>{{ i.Rank }}</td>

                {% if option == "messages" or option == "mots" or option == "voice" %}
                    <td>
                        {% if i.Avatar2 %}
                            <img src="https://cdn.discordapp.com/avatars/{{ i.ID2 }}/{{ i.Avatar2 }}.png?size=128">
                        {% else %}
                            <img src="https://cdn.discordapp.com/attachments/726034739550486618/930821498208403466/Silouhette2.png">
                        {% endif %}
                    </td>
                {% elif option == "emotes" or option == "reactions" %}
                    <td>
                        {% if i.Animated2 %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID2 }}.gif?size=128" style="border-radius: 0%;">
                        {% else %}
                            <img src="https://cdn.discordapp.com/emojis/{{ i.ID2 }}.png?size=128" style="border-radius: 0%;">
                        {% endif %}
                    </td>
                {% endif %}
                <td style="text-align: start;">{{ i.Nom2 }}</td>
                <td>
                    {% if i.Evol > 0 %}
                        <img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687366647818/rougeTdry.png"><br> {{ i.Evol }}
                    {% elif i.Evol < 0 %}
                        {{ i.Evol }}<br><img style="height: 20px;width: 20px;" src="https://cdn.discordapp.com/attachments/726034739550486618/930823687551201321/rougeTdqsdry.png">
                    {% endif %}
                </td>
                <td>
                    {% if i.Count2 %}
                        <div class="barre" style="width:calc(100%*{{ i.Count2 }}/{{ max }}); background-color: {{ i.Color2 }}"></div>
                    {% endif %}
                </td>
                <td>{{ i.Count2|tempsvoice:option }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock stats %}