{% extends "companion/BASE.html" %}
{% block script %}
<script type="text/javascript">
    
    function newSite(id,obj,mix) {
        if (mix == "True") {
            var site = "/companion/{{ guildid }}/{{ option }}/iframeperso?data="+id+"?{{ mois }}?{{ annee }}"
        } else {
            var site = "/companion/{{ guildid }}/{{ option }}/iframeperso?data="+id
        }
        
        document.getElementById('iframeevol').src = site;
        try {document.getElementById("elselect").id = NaN}
        catch {}
        obj.id = "elselect"
    }    

</script>
{% endblock script %}



{% block stats %}
<div class="searchTable">
    <input type="text" id="searchTable" onkeyup="searchName(2)" placeholder="Recherchez {{ option|nomsearch }}">
</div>

<div class="stats">
    <table id="tableot">
        {% if option == "emotes" or option == "reactions" %}
            <tr><th colspan="6">Classement {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th colspan="2">{{ option|headnom }}</th>
                <th id="leg-barre">Barre</th>
                <th>{{ option|headcount }}</th>
                {% if not mix %}
                    <th>Général :<br>Rang<br>Compteur</th>
                {% endif %}
            </tr>
        {% else %}
            <tr><th colspan="5">Classement {{ mois }} {{ annee }}</th></tr>
            <tr>
                <th>Rang</th>
                <th>{{ option|headnom }}</th>
                <th id="leg-barre">Barre</th>
                <th>{{ option|headcount }}</th>
                {% if not mix %}
                    <th>Général :<br>Rang<br>Compteur</th>
                {% endif %}
            </tr>   
        {% endif %}
        
        {% for i in rank %}
        <tr onClick="newSite('{{ i.ID }}',this,'{{ mix }}')">
            <td>{{ i.Rank }}</td>
            {% if option == "emotes" or option == "reactions" %}
                <td>
                    {% if i.Animated %}
                        <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.gif?size=128" style="border-radius: 0%;">
                    {% else %}
                        <img src="https://cdn.discordapp.com/emojis/{{ i.ID }}.png?size=128" style="border-radius: 0%;">
                    {% endif %}
                </td>
            {% endif %}
            <td style="text-align: start;">{{ i.Nom }}</td>
            <td class="barretd"><div class="barre" style="width:calc(100%*{{ i.Count }}/{{ max }}); background-color: {{ color }}"></div></td>
            <td>{{ i.Count }}</td>
            {% if not mix %}
                <td>{{ i.RankGen }}e<br>{{ i.CountGen }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <iframe id="iframeevol" src="/companion/iframeblank?option={{ option }}&command={{ command }}&plus={{ plus }}" scrolling="no" onload="resizeIframe(this)"></iframe>
</div>
{% endblock stats %}